.form {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 12px;
	padding: 12px;
	background: var(--surface-color);
	border: 1px solid var(--border-color);
	border-radius: 8px;
}

.form_expanded {
	grid-template-columns: 1fr;
}

.textarea {
	padding: 8px;
}

.divider {
	border-bottom: 1px solid var(--border-color);
}

.preview {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	grid-gap: 8px;
}

.previewImage {
	height: 200px;
	object-fit: contain;
}

.footer {
	display: flex;

	@include less720px {
		display: grid;
		justify-items: end;
		grid-gap: 8px;
	}
}

.accontSelect {
	margin: 0 32px 0 0;
	width: 100%;
	max-width: 268px;

	@include less720px {
		margin: 0;
	}
}

.footerRight {
	flex: 0 0 auto;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 12px;
	align-items: center;
	justify-content: start;
	margin: 0 0 0 auto;
}

.ideaButton_animated {
	animation-name: ideaButtonAnumation;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes ideaButtonAnumation {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(2, 2) rotate(50deg);
	}
	70% {
		transform: scale(2, 2) rotate(-50deg);
	}
	to {
		transform: scale(1, 1);
	}
}

.stickerPopup {
	position: fixed;
	padding: 4px 0;
}

.stickerPopupContent {
	display: grid;
	grid-template-columns: repeat(4, auto);
	padding: 8px;
	max-height: 260px;
	overflow-y: auto;
	background: var(--surface-color);
	border-radius: 8px;
	box-shadow: var(--popup-shadow);

	> img {
		width: 64px;
		height: 64px;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background: var(--tertiary-surface-color);
		}
	}
}
