.root {
	display: grid;
	grid-gap: 4px;
	padding: 8px;
	border-left: 4px solid var(--border-color);
	border-radius: 8px;
}

.sender {
	font-weight: $font-weight_semi-bold;
}

.text {
	@include article-text;
}

.sticker {
	height: 120px;
	object-fit: contain;
	border-radius: 8px;
}

.cover {
	@include feed-attachment-image(320px);
}
