.root {
	display: grid;
	padding: 32px;
}

.title {
	margin: 0 0 20px;
	font-size: 24px;
}

.description {
	font-size: 14px;
	line-height: $line-height_text;
}

.buttons {
	display: grid;
	grid-gap: 8px;
	margin: 32px 0 0;
}
