/*
"display: grid" somehow doesn't work in Venom browser on iOS:
https://trello.com/c/i9GAsOaF
 */

.root {
	--action-modal_padding: 32px;

	padding: var(--action-modal_padding);

	> :not(:last-child) {
		margin: 0 0 24px;
	}
}

.title {
	min-width: 0;
	font-size: 24px;
}

.content {
	@include article-text;
	display: flex;
	flex-direction: column;
	font-size: 14px;

	> :not(:last-child) {
		margin: 0 0 24px;
	}
}

.buttons {
	display: flex;
	flex-direction: column;

	> :not(:last-child) {
		margin: 0 0 8px;
	}
}
