/*
"display: grid" somehow doesn't work in Venom browser on iOS:
https://trello.com/c/i9GAsOaF
 */

.root {
	padding: 32px;

	> :not(:last-child) {
		margin: 0 0 24px;
	}

	@include less480px {
		padding: 20px;
	}
}

.title {
	min-width: 0;
	font-size: 24px;
}

.content {
	font-size: 14px;
	line-height: $line-height_text;

	> :not(:last-child) {
		margin: 0 0 24px;
	}
}

.buttons {
	display: flex;
	flex-direction: column;

	> :not(:last-child) {
		margin: 0 0 8px;
	}
}
