.root {
	display: grid;
	grid-gap: 24px;
	padding: 32px;
}

.title {
	min-width: 0;
	font-size: 24px;
}

.description {
	min-width: 0;
	font-size: 14px;
	line-height: $line-height_text;
}

.buttons {
	display: grid;
	grid-gap: 8px;
}
