.root {
	position: fixed;
	display: grid;
	grid-gap: 16px;
	padding: 12px 16px 16px;
	white-space: nowrap;
	background: var(--surface-color);
	border-radius: 10px;
	box-shadow: var(--popup-shadow);
}

.title {
	font-size: 15px;
}

.list {
	display: grid;
	grid-gap: 12px;
}

.row {
	@include expand-click-area(4px);
	display: grid;
	justify-content: start;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 8px;
}

.rowTitle {
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
}

.footer {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 4px;
}
