.root {
	@include flex-row(center, flex-start);
	padding: 0 16px;
	height: 65px;
	border-bottom: 1px solid var(--border-color);

	@include less720px {
		padding-right: 8px;
		height: 55px;
	}
}

.burger {
	margin: 0 12px 0 0;
}

.logo {
	@include less720px {
		display: none;
	}
}

.logoImage {
	display: block;
}

.composeButton {
	display: none;

	@include less720px {
		display: block;
		margin: 0 12px 0 0;
	}
}

.main {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	align-items: center;
	margin: 0 0 0 auto;

	@include less720px {
		grid-gap: 8px;
	}
}

.users {
	@include expand-click-area;
	display: flex;
	align-items: center;
	height: $interactive-elem-size_large;
	white-space: nowrap;
	background-color: var(--surface-color);
	border: 1px solid var(--border-color);
	border-radius: 20px;

	&:hover,
	&:focus-visible {
		border-color: var(--border-heavy-color);
	}

	> * {
		margin-right: 8px;
	}
}

.usersAvatar {
	display: inline-block;
	vertical-align: top;
	width: $interactive-elem-size_large - 2px;
	height: $interactive-elem-size_large - 2px;
	border: 2px solid var(--surface-color);

	&:not(:first-child) {
		margin: 0 0 0 -18px;
	}
}

.usersText {
	@include flex-row(center, flex-start);
	white-space: nowrap;

	@include less720px {
		span {
			display: none;
		}
	}

	@include less480px {
		display: none;
	}
}

.usersIcon {
	margin-left: -2px;
	width: 20px;
	height: 20px;
	fill: currentColor;
}
