.root {
	display: flex;
	align-items: center;
	height: 140px;

	@media (max-height: 840px) {
		height: 100px;
	}

	@include less920px {
		padding: 0 20px;
		height: 80px;
	}

	@include less720px {
		padding: 0 12px;
		height: 64px;
	}
}

.burger {
	margin: 0 12px 0 0;
}

.logo {
	@include expand-click-area;

	@include less920px {
		width: 130px;
	}

	@include less720px {
		display: none;
	}

	> svg {
		max-width: 100%;
	}
}

.composeButton {
	display: none;

	@include less720px {
		display: block;
		margin: 0 12px 0 0;
	}
}

.right {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	align-items: center;
	margin: 0 0 0 auto;

	@include less720px {
		grid-gap: 8px;
	}
}

.users {
	@include expand-click-area;
	display: flex;
	align-items: center;
	padding: 0 0 0 3px;
	height: $interactive-elem-size_xlarge;
	white-space: nowrap;
	background-color: var(--secondary-surface-color);
	border: 1px solid var(--border-color);
	border-radius: $interactive-elem-size_xlarge/2;

	&:hover,
	&:focus-visible {
		border-color: var(--border-heavy-color);
	}

	> * {
		margin-right: 8px;
	}
}

.usersAvatar {
	display: inline-block;
	vertical-align: top;
	width: $interactive-elem-size_xlarge - 8px;
	border: 2px solid var(--secondary-surface-color);
	border-radius: 50%;

	&:not(:first-child) {
		margin: 0 0 0 -18px;
	}
}

.usersText {
	@include flex-row(center, flex-start);
	white-space: nowrap;

	@include less720px {
		span {
			display: none;
		}
	}

	@include less480px {
		display: none;
	}
}

.usersIcon {
	margin-left: -2px;
	width: 20px;
	height: 20px;
	fill: currentColor;
}
