.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	align-items: center;
}

.center {
	display: flex;
	align-items: center;
	width: 40%;

	@include lessThan1152w {
		display: none;
	}
}

.right {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 20px;

	@include lessThan640w {
		grid-gap: 12px;
	}
}

.rightButtons {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 4px;
}

//

.logo {
	@include expand-click-area;

	@include lessThan(480px) {
		display: none;
	}

	svg {
		@include lessThan768h {
			width: auto;
			height: 40px;
		}

		@include lessThan1152w {
			width: auto;
			height: 40px;
		}
	}
}

.navButton {
	display: flex;
	align-items: center;
	padding: 0 20px;
	margin: 0 8px 0 0;
	height: 40px;
	font-size: 12px;
	font-weight: $font-weight_semi-bold;
	text-transform: uppercase;
	color: var(--text-color);
	border-radius: 99px;
}

.navButton_active {
	color: var(--accent-color);
	background: var(--accent-surface-alpha-color);
}

.navButton:not(.navButton_active):hover {
	color: var(--accent-color);
}

.search {
	flex: 1 1 auto;
	margin: 0 0 0 12px;
}

//

.users {
	@include expand-click-area;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	align-items: center;
	padding: 0 10px 0 6px;
	height: $interactive-elem-size_xlarge;
	white-space: nowrap;
	background: var(--secondary-surface-color);
	border-radius: $interactive-elem-size_xlarge/2;

	&:hover,
	&:focus-visible {
		background: var(--secondary-surface-hover-color);
	}
}

.usersAvatar {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: $interactive-elem-size_xlarge - 12px;
	border-radius: 50%;

	&:not(:first-child) {
		margin: 0 0 0 -24px;
		box-shadow: -1px 0 0 1px rgba(var(--surface-rgb-color), 0.3);
	}
}

.usersText {
	font-size: 12px;
	font-weight: $font-weight_medium;
	white-space: nowrap;

	@include lessThan(640px) {
		display: none;
	}
}

.usersIcon {
	margin-left: -2px;
	width: 20px;
	height: 20px;
	fill: currentColor;
}

//

.notificationsPopup {
	@include popup-root;
	max-width: 320px;
}

.notificationsPopupInner {
	@include popup-inner;
	display: grid;
	justify-content: center;
	grid-gap: 16px;
	padding: 20px;
}

.notificationIcon_animated {
	transform-origin: 50% 8px;
	animation-name: notification-icon;
	animation-duration: 4s;
	animation-delay: 500ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 3;
}

@keyframes notification-icon {
	0% {
		color: var(--accent-color);
		transform: rotate(0);
	}
	1% {
		transform: rotate(30deg);
	}
	3% {
		transform: rotate(-28deg);
	}
	5% {
		transform: rotate(34deg);
	}
	7% {
		transform: rotate(-32deg);
	}
	9% {
		transform: rotate(30deg);
	}
	11% {
		transform: rotate(-28deg);
	}
	13% {
		transform: rotate(26deg);
	}
	15% {
		transform: rotate(-24deg);
	}
	17% {
		transform: rotate(22deg);
	}
	19% {
		transform: rotate(-20deg);
	}
	21% {
		transform: rotate(18deg);
	}
	23% {
		transform: rotate(-16deg);
	}
	25% {
		transform: rotate(14deg);
	}
	27% {
		transform: rotate(-12deg);
	}
	29% {
		transform: rotate(10deg);
	}
	31% {
		transform: rotate(-8deg);
	}
	33% {
		transform: rotate(6deg);
	}
	35% {
		transform: rotate(-4deg);
	}
	37% {
		transform: rotate(2deg);
	}
	39% {
		transform: rotate(-1deg);
	}
	41% {
		transform: rotate(1deg);
	}
	43% {
		color: var(--text-color);
		transform: rotate(0);
	}
	100% {
		transform: rotate(0);
	}
}
