.root {
	display: grid;
	grid-template-columns: 48px 1fr auto;
	grid-column-gap: 16px;
	grid-row-gap: 8px;
	align-items: center;
	padding: 24px;
}

.avatar {
	align-self: start;
	grid-row: 1/4;
	margin: 4px 0;
	width: 48px;
	height: 48px;
}

.title {
	font-size: 20px;
}

.actions {
	justify-self: end;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 4px;
}

.sender {
	display: flex;
	min-width: 0;

	> :not(:first-child) {
		margin-left: 8px;
	}
}

.senderLabel {
	color: var(--secondary-text-color);
}

.senderList {
	display: grid;
	grid-gap: 8px;
}

.senderRow {
	display: flex;
	align-items: center;
	min-width: 0;

	> :not(:first-child) {
		margin-left: 8px;
	}
}

.addContactButton {
	margin: -99px 0;
	opacity: 0;
	transition: opacity 200ms;
}

.senderRow:hover .addContactButton {
	opacity: 1;
}

.date {
	justify-self: end;
	color: var(--secondary-text-color);
}

.body {
	grid-column: 2/4;
	align-self: start;
	display: grid;
	grid-gap: 32px;
	margin: 32px 0 0;

	:global(.codex-editor__redactor) {
		padding: 0 !important;
	}

	:global(.ce-block__content) {
		max-width: 100% !important;
	}
}

.content {
	font-size: 16px;
	line-height: $line-height_text;
}

.attachments {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	> * {
		margin: 0 8px 8px 0;
	}
}
.attachment {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	grid-gap: 4px;
	padding: 8px 8px 8px 12px;
	width: 200px;
	border: 1px solid var(--border-color);
	border-radius: 4px;
}
.attachmentName {
	@include truncate-text;
	font-weight: $font-weight_bold;
}
.attachmentSize {
	@include truncate-text;
	font-size: 11px;
	color: var(--secondary-text-color);
}
.attachmentActions {
	grid-column: 2/3;
	grid-row: 1/3;
}

@include less720px {
	.root {
		grid-template-columns: 1fr;
	}

	.avatar {
		display: none;
	}

	.actions {
		justify-self: start;
		grid-row: 5/6;
	}

	.date {
		justify-self: start;
	}

	.body {
		grid-column: 1/2;
		margin: 16px 0;
	}
}
