.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loader {
	position: relative;
	padding: 10px 10px 0;
	color: var(--primary-text-color);
}

.dots {
	position: absolute;
	top: 0;
	left: 13px;
	width: 42px;
	height: 42px;
	transform: rotate(45deg);

	div {
		width: 6px;
		height: 6px;
		transform: scale(2);
		background: currentColor;
		border-radius: 100%;
		float: left;
		margin-bottom: 12px;
		animation: scaleDot 4s ease infinite;
		&:not(:nth-child(3n + 3)) {
			margin-right: 12px;
		}
		//row 1
		&:nth-child(1) {
			opacity: 0;
			animation-delay: 0s;
		}
		//row 2
		&:nth-child(2),
		&:nth-child(4) {
			opacity: 1;
			animation-delay: 0.2s;
		}
		//row 3
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(7) {
			animation-delay: 0.6s;
		}
		//row 4
		&:nth-child(6),
		&:nth-child(8) {
			animation-delay: 1s;
		}
		//row 5
		&:nth-child(9) {
			animation-delay: 1.4s;
		}
	}
}

@keyframes scaleDot {
	5% {
		transform: scale(1.9);
		background-color: currentColor;
	}
	25% {
		transform: scale(2.4);
		background-color: var(--accent2-color);
	}
	45% {
		transform: scale(1.9);
		background-color: currentColor;
	}
	55% {
		transform: scale(1.9);
		background-color: currentColor;
	}
	75% {
		transform: scale(2.4);
		background-color: var(--accent-color);
	}
	95% {
		transform: scale(1.9);
		background-color: currentColor;
	}
}

.reason {
	margin: 40px 0 0;
	padding: 0 20px;
	font-size: 18px;
	text-align: center;
}
