.list {
	@include flex-column(stretch, flex-start);
}

.listItem {
	@include flex-column(stretch, flex-start);
	margin-left: -15px;
}

.listItemTitle {
	@include flex-row(center, flex-start);

	i {
		margin-right: 8px;
	}

	padding: 5px 10px 5px 25px;

	margin-right: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
