.root {
	display: grid;
	grid-template-rows: auto 1fr;
	position: relative;
	z-index: 1;
	height: 100%;
}

.main {
	display: grid;
	grid-template-columns: 226px 1fr;
	grid-gap: 16px;
	padding: 24px 16px 0 0;
	overflow-y: auto;

	@include less920px {
		grid-template-columns: 1fr;
		padding: 16px;
	}

	@include less720px {
		padding: 0;
	}
}

.content {
	padding: 0 0 16px;
	min-height: 0;

	@include less920px {
		padding: 0;
	}
}
