.root {
	display: grid;
	grid-template-rows: auto 1fr;
	position: relative;
	z-index: 1;
	height: 100%;
}

.main {
	display: grid;
	grid-template-columns: 226px 1fr;
	grid-gap: 16px;
	padding: 24px 16px 24px 0;
	overflow-y: auto;

	@include less920px {
		grid-template-columns: 1fr;
	}

	@include less720px {
		padding: 16px 8px;
	}
}

.content:not(.content_custom) {
	display: flex;
	flex-direction: column;
	min-width: 0;
	position: relative;
	padding: 12px 0 0;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.linkButton {
	display: none;
	margin: 0 12px 12px;

	@include less920px {
		display: block;
	}
}
