.root {
	display: grid;
	grid-template-rows: auto 1fr;
	position: relative;
	z-index: 1;
	height: 100%;
}

.main {
	display: grid;
	grid-template-columns: 226px 1fr;
	grid-gap: 16px;
	padding: 24px 16px 0 0;
	overflow-y: auto;

	@include less920px {
		grid-template-columns: 1fr;
		padding: 16px 16px 0;
	}

	@include less720px {
		padding: 8px 8px 0;
	}
}

.content:not(.content_custom) {
	display: flex;
	flex-direction: column;
	min-width: 0;
	min-height: 0;
	position: relative;
	margin: 0 0 16px;
	padding: 12px 0 0;
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--layout-shadow);

	@include less720px {
		margin: 0 0 8px;
	}
}

.linkButton {
	display: none;
	margin: 0 12px 12px;

	@include less920px {
		display: block;
	}
}
