.main-layout {
	@include flex-column(stretch, flex-start);

	flex-grow: 1;
	flex-shrink: 1;
}

.main-wrapper {
	@include flex-row(stretch, flex-start);
	margin-top: 15px;

	flex-grow: 1;
	flex-shrink: 1;
	margin: 15px;

	@include less720px {
		margin: 5px;
	}
}

.side-block {
	@include flex-column(stretch, flex-start);

	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 210px;

	margin-right: 15px;

	@include less980px {
		flex-basis: 170px;
	}

	@include less920px {
		&:not(.header-logo) {
			background-color: white;
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 100;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
			width: 210px;
			box-sizing: border-box;
			transition: left 0.2s;
			&.open {
				left: 0;
			}
			&:not(.open) {
				left: -210px;
			}
		}
	}

	&.header-logo {
		@include less630px {
			display: none;
		}
	}
}

.main-block {
	@include flex-column(stretch, flex-start);

	flex-grow: 1;
	flex-shrink: 1;
}

.main-content {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);

	padding-top: 10px;
}
