.main-layout {
	@include flex-column(stretch, flex-start);

	flex-grow: 1;
	flex-shrink: 1;
}

.main-wrapper {
	@include flex-row(stretch, flex-start);
	margin-top: 15px;

	flex-grow: 1;
	flex-shrink: 1;
	margin: 15px;

	@include less720px {
		margin: 5px;
	}
}

.side-block {
	@include flex-column(stretch, flex-start);

	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 210px;

	margin-right: 15px;

	@include less980px {
		flex-basis: 170px;
	}

	@include less920px {
		&:not(.header-logo) {
			background-color: white;
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 100;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
			width: 210px;
			box-sizing: border-box;
			transition: left 0.2s;
			&.open {
				left: 0;
			}
			&:not(.open) {
				left: -210px;
			}
		}
	}

	&.header-logo {
		@include less480px {
			display: none;
		}
	}
}

.main-block {
	@include flex-column(stretch, flex-start);

	flex-grow: 1;
	flex-shrink: 1;
}

.main-content {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);

	padding-top: 10px;
}

.feed-container {
	@include flex-column(center, flex-start);

	background-color: transparent;
	box-shadow: unset;

	padding-right: 240px;
}

.feed {
	@include flex-column(stretch, flex-start);

	width: 656px;

	.feed-title {
		@include flex-row(center, space-between);

		padding-left: 12px;
		padding-right: 12px;

		.feed-title-text {
			font-family: 'Lexend Exa';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.09em;

			color: #202020;
		}
	}
}

.feed-body {
	@include flex-column(stretch, flex-start);

	.feed-new-posts {
		@include flex-row(center, center);
		position: fixed;
		top: 30px;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		z-index: 20;

		.ylide-button {
			background-color: white;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

			&:hover {
				color: black;
			}
		}
	}
}

.feed-last-post {
	height: 250px;
}

.post-desktop {
	@include flex-row(stretch, flex-start);

	background: #ffffff;
	border: 0.5px solid #caccd3;
	border-radius: 12px;

	padding: 12px;
	padding-bottom: 20px;
	padding-right: 16px;

	margin-bottom: 12px;

	.post-ava {
		@include flex-column(center, flex-start);

		margin-right: 12px;

		.post-ava-image {
			position: relative;
			width: 48px;
			height: 48px;
			.post-ava-source {
				position: absolute;
				right: -8px;
				bottom: -8px;
				width: 26px;
				height: 26px;
				border-radius: 50%;
				// border: 2px solid white;
				z-index: 1;
			}
		}
	}

	.post-content {
		@include flex-column(stretch, flex-start);

		flex-grow: 1;
	}

	.post-meta {
		@include flex-row(center, space-between);

		margin-top: 2px;
		margin-bottom: 6px;

		.post-source-left {
			@include flex-row(center, flex-start);
			font-family: 'Lexend';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 22px;
			color: #000000;

			.post-source-name {
				margin-right: 5px;
			}
			.post-source-username {
				color: #a5a8b4;
				margin-right: 5px;
			}
			.post-source-in {
				margin-right: 5px;
			}
			.post-source-data {
				@include flex-row(center, flex-start);
				.post-source-channel-icon {
					@include flex-row(center, flex-start);
					margin-right: 5px;
				}
				.post-source-channel-name {
					//
				}
			}
		}

		.post-source-right {
			@include flex-row(center, flex-end);
			.post-source-date {
				font-family: 'Lexend';
				font-style: normal;
				font-weight: 300;
				font-size: 13px;
				line-height: 20px;
				/* identical to box height, or 154% */

				text-align: right;

				color: #a5a8b4;
			}
			.post-source-link {
				margin-bottom: -3px;
				margin-left: 6px;
				cursor: pointer;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	.post-title {
		font-family: 'Lexend';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 26px;
		/* or 130% */

		color: #000000;
		margin-bottom: 6px;
		padding-right: 10px;
	}

	.post-subtitle {
		font-family: 'Lexend';
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 22px;
		/* identical to box height, or 147% */

		color: #a5a8b4;
		margin-bottom: 6px;
	}

	.post-picrel {
		margin-top: 5px;
		margin-bottom: 15px;
		.post-picrel-image {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			width: 100%;
			height: 240px;
			border-radius: 10px;
			cursor: pointer;
		}
	}

	.post-text {
		@include flex-column(stretch, flex-start);
		font-family: 'Lexend';
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 146%;
		color: #000000;
		word-break: break-word;

		padding-right: 6px;

		img {
			max-width: 100%;
		}

		h1 {
			margin-top: 0.8em;
			margin-bottom: 0.8em;
			line-height: 120%;
		}

		p:not(:last-child) {
			margin: 0;
			margin-bottom: 0.8em;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.post-embeds {
		margin-top: 10px;
		@include flex-column(stretch, flex-start);
		.post-embed {
			@include flex-column(stretch, flex-start);

			border: 1px solid #e0e0e0;
			border-radius: 10px;

			background-color: #fafcf9;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			$padding: 15px;
			overflow: hidden;

			padding-bottom: $padding;

			box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);

			transition: box-shadow 0.3s;

			&.with-link {
				&:hover {
					box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
				}
			}

			.post-embed-image {
				border-bottom: 1px solid #e0e0e0;
				height: 200px;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
			.post-embed-link {
				color: #707070;
				margin-top: 8px;
				padding-left: $padding;
				padding-right: $padding;
			}
			.post-embed-title {
				color: #202020;
				font-size: 18px;
				font-weight: bold;
				margin-top: 8px;
				padding-left: $padding;
				padding-right: $padding;
			}
			.post-embed-text {
				color: #404040;
				font-size: 14px;
				margin-top: 8px;
				padding-left: $padding;
				padding-right: $padding;

				word-break: break-word;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
