.mailbox-header {
	@include flex-column(stretch, flex-start);

	padding: 16px 20px 12px;
}

.mailbox-title {
	display: flex;
	align-items: baseline;
	margin: 0;
	font-size: 32px;
	font-weight: $font-weight_medium;
	white-space: nowrap;

	@include lessThan768w {
		font-size: 28px;
	}
}

.mailbox-title-secondary {
	flex: 1;
	display: flex;
	align-items: baseline;
	margin: 0 0 0 0.5em;
	min-width: 0;
	color: var(--secondary-text-color);
	font-size: 75%;
	white-space: nowrap;
}

.mailbox-tools {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	align-items: center;
	justify-content: start;

	margin-top: 14px;

	.global-checkbox-wrapper {
		margin-right: 8px;
	}
}

.mail-top {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 20px;
	margin-bottom: 20px;

	@include less480px {
		max-width: 98vw;
	}

	&.compose-mail-top,
	&.contacts-mail-top {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 10px;

		.mail-header {
			margin-bottom: 20px;

			@include less480px {
				margin-bottom: 10px;
			}
		}
	}

	&.contacts-mail-top {
		.mail-header {
			margin-bottom: 0px;
		}
	}
}

.mail-header {
	@include flex-row(center, space-between);

	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;

	@include less480px {
		@include flex-column(stretch, flex-start);

		margin-left: 10px;
		margin-right: 10px;
	}
}

.mail-page {
	@include flex-column(stretch, flex-start);

	flex-grow: 1;
	flex-shrink: 1;
}

.page-body {
	padding: 22px;
	padding-top: 0px;

	@include less480px {
		padding: 12px;
		padding-top: 0px;
	}
}
