.mailbox-page {
	@include flex-column(stretch, flex-start);
	flex: 1;
}

.mailbox-header {
	@include flex-column(stretch, flex-start);

	margin: 4px 20px 12px;

	@include less630px {
		margin-left: 12px;
		margin-right: 12px;
	}
}

.mailbox-title {
	display: flex;
	align-items: baseline;
	margin: 0;
	font-size: 32px;
	white-space: nowrap;

	@include less720px {
		font-size: 28px;
	}
}

.mailbox-title-secondary {
	flex-grow: 1;
	display: flex;
	align-items: baseline;
	margin: 0 0 0 0.5em;
	color: var(--secondary-text-color);
	font-size: 75%;
	font-weight: $font-weight_light;
	white-space: nowrap;
}

.mailbox-tools {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	align-items: center;
	justify-content: start;

	margin-top: 14px;

	.global-checkbox-wrapper {
		margin-right: 8px;
	}
}

.mailbox {
	flex-grow: 1;
}

.send-btn {
	display: flex;
	flex-direction: row;
	align-items: stretch;

	height: 30px;
	color: white;

	margin-right: 10px;

	&.disabled {
		pointer-events: none;
		opacity: 0.6;
	}

	.send-btn-text {
		@include flex-row(center, flex-start);

		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		background-color: #1ab394;

		padding-left: 10px;
		font-size: 0.8rem;

		padding-top: 1px;
		padding-right: 10px;
		line-height: 1;
		cursor: pointer;

		&:hover {
			background-color: #18a689;
		}

		.send-btn-title {
			@include flex-row(center, flex-start);

			svg {
				margin-left: 6px;
				margin-right: 4px;
			}
		}
	}
	.send-btn-dropdown-icon {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;

		background-color: #1ab394;

		display: flex;
		flex-direction: row;
		align-items: center;

		cursor: pointer;

		border-left: 1px solid #0a9e80;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 5px;
		padding-bottom: 5px;

		&:hover {
			background-color: #18a689;
		}
	}

	&:not(.withDropdown) {
		.send-btn-text {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;

			padding-right: 13px;
		}
	}
}

.mail-top {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 20px;
	margin-bottom: 20px;

	@include less480px {
		max-width: 98vw;
	}

	&.compose-mail-top,
	&.contacts-mail-top {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 10px;

		.mail-header {
			margin-bottom: 20px;

			@include less480px {
				margin-bottom: 10px;
			}
		}
	}

	&.contacts-mail-top {
		.mail-header {
			margin-bottom: 0px;
		}
	}
}

.mail-header {
	@include flex-row(center, space-between);

	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;

	@include less480px {
		@include flex-column(stretch, flex-start);

		margin-left: 10px;
		margin-right: 10px;
	}
}

.mail-actions,
.mail-footer {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	align-items: center;
	justify-content: end;
}

.mail-actions {
	flex-shrink: 0;

	@include less480px {
		justify-content: start;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.mail-meta {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	align-items: center;

	padding-left: 22px;
	padding-right: 20px;

	@include less480px {
		@include flex-column(stretch, flex-start);

		padding-left: 12px;
		padding-right: 10px;
	}

	.mail-params {
		display: grid;
		grid-gap: 8px;

		.mmp-row {
			display: grid;
			grid-template-columns: 100px 1fr;
			grid-gap: 8px;
			align-items: center;
			font-size: 15px;

			@include less480px {
				grid-template-columns: 1fr;
				grid-gap: 4px;
			}

			.mmp-row-title {
				font-weight: 400;
				color: #777;
				// &.mmp-from {
				// }
			}
			.mmp-row-value {
				font-weight: 500;
				color: #111111;
				word-break: break-word;
				overflow: hidden;

				@include less480px {
					margin-left: 0;
				}
			}
		}
	}

	.mail-date {
		font-size: 16px;
		color: #111111;

		text-align: right;

		@include less480px {
			text-align: left;
		}
	}

	.mail-sender {
		@include flex-row(center, flex-start);

		.mail-sender-blockie {
			width: 20px;
			height: 20px;
		}
		.mail-sender-address {
			@include flex-row(center, flex-start);

			margin-left: 5px;

			.ylide-address {
				min-width: 254px;
			}
		}
	}
}

.mail-footer {
	margin-top: 20px;
	padding: 20px;
	border-top: 1px solid #e0e0e0;

	&.compose-mail-footer {
		margin-top: 0;
	}
}

.mail-page {
	@include flex-column(stretch, flex-start);

	flex-grow: 1;
	flex-shrink: 1;
}

.mail-body {
	@include flex-column(stretch, flex-start);

	flex-grow: 1;
	flex-shrink: 1;

	font-size: 16px;
	line-height: 140%;

	max-width: 98vw;
}

.page-body {
	padding: 22px;
	padding-top: 0px;

	@include less480px {
		padding: 12px;
		padding-top: 0px;
	}
}

.mail-text {
	@include flex-column(stretch, flex-start);

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 200px;

	overflow: auto;
}
