.sidebar-button {
	@include less480px {
		margin-bottom: 5px;
		margin-left: 10px;
		margin-right: 10px;
	}

	&.ant-btn-primary {
		background-color: rgba(26, 179, 148, 1);
		border-color: rgba(26, 179, 148, 1);
		border-radius: 5px;

		&:hover {
			background-color: rgb(22, 147, 122);
			border-color: rgb(22, 147, 122);
		}
	}
	&.ant-btn-default {
		color: #606060;
		background-color: white;
		border-color: #606060;
		border-radius: 5px;

		&:hover {
			color: #929292;

			border-color: #929292;
		}
	}
}

.sidebar-container {
	@include flex-column(stretch, flex-start);

	padding-top: 5px;

	@include less920px {
		padding: 15px;
	}
}

.sidebar-block {
	@include flex-column(stretch, flex-start);

	margin-top: 30px;
}

.tag-list-title {
	font-size: 15px;
	// text-transform: uppercase;
}

.tag-list {
	margin-left: -15px;

	@include flex-column(stretch, flex-start);

	.tag-list-item {
		@include flex-column(stretch, flex-start);
	}
	.tag-list-item-title {
		@include flex-row(center, flex-start);

		i {
			margin-right: 8px;
		}

		padding: 5px 10px;
		padding-left: 25px;

		margin-right: 15px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

.header-burger {
	margin-right: 20px;
}

.sidebar-mobile-header {
	@include flex-row(center, space-between);

	margin-top: 3.5px;
	margin-bottom: 10px;
}
