.sidebar-button {
	&.ant-btn-primary {
		background-color: rgba(26, 179, 148, 1);
		border-color: rgba(26, 179, 148, 1);
		border-radius: 5px;

		&:hover {
			background-color: rgb(22, 147, 122);
			border-color: rgb(22, 147, 122);
		}
	}
	&.ant-btn-default {
		color: #ff4d4f;
		background-color: white;
		border-color: #ff4d4f;
		border-radius: 5px;

		&:hover {
			color: #c72225;

			border-color: #c72225;
		}
	}
}

.sidebar-container {
	@include flex-column(stretch, flex-start);

	padding-top: 5px;
}

.sidebar-block {
	@include flex-column(stretch, flex-start);

	margin-top: 30px;
}

.tag-list-title {
	font-size: 15px;
	// text-transform: uppercase;
}

.tag-list {
	margin-left: -15px;

	@include flex-column(stretch, flex-start);

	.tag-list-item {
		@include flex-column(stretch, flex-start);
	}
	.tag-list-item-title {
		@include flex-row(center, flex-start);

		i {
			margin-right: 8px;
		}

		padding: 5px 10px;
		padding-left: 25px;

		margin-right: 15px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}
