.sidebar-button {
	@include less480px {
		margin-bottom: 5px;
		margin-left: 10px;
		margin-right: 10px;
	}

	&.ant-btn-primary {
		background-color: rgba(26, 179, 148, 1);
		border-color: rgba(26, 179, 148, 1);
		border-radius: 5px;

		&:hover {
			background-color: rgb(22, 147, 122);
			border-color: rgb(22, 147, 122);
		}
	}
	&.ant-btn-default {
		color: #606060;
		background-color: white;
		border-color: #606060;
		border-radius: 5px;

		&:hover {
			color: #929292;

			border-color: #929292;
		}
	}
}

.sidebar-container {
	@include flex-column(stretch, flex-start);

	position: sticky;
	top: 0;

	padding-top: 25px;

	@include less920px {
		position: static;
		padding: 15px;
	}
}

.sidebar-block {
	@include flex-column(stretch, flex-start);

	margin-top: 30px;
}

.tag-list-title {
	font-size: 15px;
	// text-transform: uppercase;
}

.tag-list {
	@include flex-column(stretch, flex-start);

	.tag-list-item {
		@include flex-column(stretch, flex-start);
		margin-left: -15px;
	}
	.tag-list-item-title {
		@include flex-row(center, flex-start);

		i {
			margin-right: 8px;
		}

		padding: 5px 10px;
		padding-left: 25px;

		margin-right: 15px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

.header-burger {
	margin-right: 20px;
}

.sidebar-mobile-header {
	@include flex-row(center, space-between);

	margin-top: 3.5px;
	margin-bottom: 10px;
}

.sidebar-section {
	margin-left: -15px;
	@include flex-column(stretch, flex-start);

	.sidebar-section-title {
		@include flex-row(center, flex-start);
		padding-left: 28px;

		margin-bottom: 12px;

		font-family: 'Lexend';
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 24px;
		color: #202020;

		margin-right: 10px;
	}

	.sidebar-section-button {
		@include flex-row(center, center);

		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		margin-left: 39px;
		margin-bottom: 6px;
		padding: 4px 20px;

		font-family: 'Lexend';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;

		color: #000000;
		width: 132px;
		height: 28px;

		border: 1px solid #000000;
		border-radius: 100px;
	}

	.sidebar-section-content {
		@include flex-column(stretch, flex-start);

		margin-bottom: 18px;

		overflow: hidden;

		transition: max-height 0.2s;

		&.open {
			max-height: 600px;
		}

		&:not(.open) {
			max-height: 0px;
		}

		.sidebar-section-link {
			@include flex-row(center, flex-start);

			padding-left: 28px;

			padding: 6px 6px 6px 40px;
			width: 224px;
			height: 32px;

			.sidebar-link-icon-left {
				@include flex-row(center, center);
				width: 18px;
				margin-right: 9px;
			}
			.sidebar-link-title {
				font-family: 'Lexend';
				font-style: normal;
				font-weight: 400;
				font-size: 13px;
				line-height: 20px;

				color: #202020;
			}
			.sidebar-link-icon-right {
				@include flex-row(center, flex-start);
				margin-left: 9px;
			}
			&.active {
				background: rgba(151, 71, 255, 0.08);
				border-radius: 0px 30px 30px 0px;

				// .sidebar-link-title {
				color: #9747ff;

				.sidebar-link-title {
					color: #9747ff;
				}
				// }
			}
			&:hover {
				cursor: pointer;
				.sidebar-link-title {
					color: #606060;
				}
			}
		}
	}
}
