.root {
	h1 {
		font-size: 32px;
		font-weight: 800px;
	}
	h2 {
		font-size: 24px;
		font-weight: 700px;
		margin-top: 24px;
	}

	p {
		font-size: 16px;
		margin-top: 12px;

		li {
			margin-top: 8px;
		}
	}

	@include less720px {
		padding: 16px;
	}
}
