.root {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	background: var(--tertiary-surface-color);
	border-radius: 4px;
}

.inner {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
	grid-gap: 4px;
	padding: 0 6px;
	height: 100%;
	font-size: 10px;
}
