.root {
	padding: 24px 12px 12px;
}

//

.walletIcon {
	@include flex-column(center, flex-start);

	border-radius: 10px;
	padding-top: 6px;
	padding-bottom: 6px;

	&:hover {
		cursor: pointer;
		background: var(--secondary-surface-color);
	}
}

.walletIconBlock {
	@include flex-row(center, center);
	width: 48px;
	height: 48px;
	padding: 8px;

	background: var(--tertiary-surface-color);
	border-radius: 12px;
	margin-bottom: 8px;
}

.walletIconImage {
	@include flex-row(center, center);
	width: 32px;
	height: 32px;
}

.walletIconTitle {
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}

//

.title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 24px;
}

.availableWallets {
	@include flex-column(center, flex-start);
	padding: 12px 0;
	border: 1px solid var(--border-color);
	border-radius: 16px;
}

.awTitle {
	margin-top: -24px;
	margin-bottom: 12px;
	background: var(--tertiary-surface-color);
	border-radius: 100px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 3px 12px 5px;

	font-family: $font-family_main;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;

	text-align: center;

	color: var(--secondary-text-color);
}

.walletsContainer {
	@include flex-row(center, space-evenly);
	width: 100%;

	.walletIcon {
		padding-left: 8px;
		padding-right: 8px;
	}
}

//

.wmTabs {
	@include flex-row(center, flex-start);

	margin-top: 24px;
}

.wmTab {
	@include flex-row(center, center);

	position: relative;

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;

	height: 32px;
	padding-bottom: 12px;
	font-size: 14px;
	line-height: 20px;
	font-style: normal;
	font-weight: 400;
	overflow: hidden;

	color: var(--secondary-text-color);
	cursor: pointer;

	&::after {
		position: absolute;
		bottom: 0;
		content: ' ';
		width: 100%;
		height: 1px;
		background: var(--border-color);
	}
}

.wmTab_active {
	color: var(--accent-color);
	cursor: default;

	&::after {
		position: absolute;
		bottom: -3px;
		content: ' ';
		width: 100%;
		height: 6px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background: var(--accent-color);
	}
}

.wmTabContent {
	@include flex-column(stretch, flex-start);
	position: relative;
	margin-top: 16px;
	min-height: 0;
}

.qrContent {
	margin-top: 4px;
	@include flex-column(center, flex-start);
}

.qrText {
	margin-top: 10px;
	font-family: $font-family_main;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;

	text-align: center;
}

.qrLink {
	margin-top: 8px;
	margin-bottom: 8px;

	font-family: $font-family_main;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;

	text-align: center;

	color: var(--accent-color);
}

.wmTabSearch {
	flex-shrink: 0;
}

.walletsList {
	@include flex-row(center, space-evenly);
	flex-wrap: wrap;

	padding-top: 8px;
	margin-top: 8px;
	width: 100%;
	min-height: 160px;
	max-height: 260px;
	overflow-y: auto;

	.walletIcon {
		margin-bottom: 12px;
		width: 94px;
		flex-basis: 94px;
	}
}

.overall {
	@include flex-column(center, center);
	background-color: var(--inverted-surface-color);
	color: var(--on-inverted-surface-color);
	font-size: 18px;
	text-align: center;
	padding: 20px;
	line-height: 140%;
	border-radius: 10px;
}

//

.svgBackground {
	position: relative;
	padding: 10px;
	width: 276px;
	height: 276px;
}

.svgBackground_leftTop {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
}

.svgBackground_leftBottom {
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: 0;
}

.svgBackground_rightTop {
	position: absolute;
	z-index: 0;
	right: 0;
	top: 0;
}

.svgBackground_rightBottom {
	position: absolute;
	z-index: 0;
	right: 0;
	bottom: 0;
}
