.root {
	position: fixed;
	padding: 4px 0;
	max-width: 500px;
}

.content {
	display: grid;
	background: var(--surface-color);
	border-radius: 10px;
	box-shadow: var(--popup-shadow);
}

.item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 16px;
	padding: 20px;

	&:not(:first-child) {
		border-top: 1px solid var(--border-color);
	}
}

.itemIcon {
	width: 50px;
	height: 50px;

	@include less480px {
		width: 30px;
		height: 30px;
	}
}

.itemBody {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 8px;
}

.itemName {
	@include flex-row(center, flex-start);
	max-width: 150px;
	font-size: 16px;
}

.itemNameInner {
	flex-shrink: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.itemNameInner_empty {
	color: var(--secondary-text-color);
}

.itemWallet {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 4px;
	align-items: center;
	white-space: nowrap;
	color: var(--secondary-text-color);
}

.itemAddress {
	grid-column: 1/3;
}

.itemActions {
	@include flex-row(center, center);
}

.addAccountRow {
	display: grid;
	justify-content: center;
	padding: 20px;
}
