.root {
	flex: 1;
	position: relative;
}

.main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main_hidden {
	visibility: hidden;
}

.content {
	flex-grow: 1;

	// https://trello.com/c/rsjN1lZZ/262-scrollbars-are-visible-sometimes-in-mailbox
	overflow-x: hidden;
}
.content_hasMessages {
	border-top: 1px solid var(--border-color);
}

.list {
	height: 100%;
}
