.simplePopupContainer {
	position: relative;
}
.simplePopupTarget {
	display: inline-flex;
}

.simplePopupContent {
	padding: 10px;
	background-color: var(--background-color);

	position: fixed;
	box-shadow: 0px 0px 8px 0px rgba(var(--shade-rgb-color), 0.3);

	border-radius: 6px;

	transition: opacity 0.2s;

	opacity: 0;
	pointer-events: none;
	// display: none;

	&.visible {
		opacity: 1;
		pointer-events: all;
		// display: flex;
	}
}
