.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

//

.projectCover {
	margin: 0 0 -66px;
	border-radius: 16px;
}

.projectLogo {
	margin: auto;
	width: 100px;
}

.projectLogoInner {
	box-shadow: 0 0 0 2px var(--background-color);
}

.projectName {
	margin: 22px 0 0;
	font-size: 24px;
	font-weight: $font-weight_semi-bold;
	text-align: center;
}

.projectDescription {
	margin: 12px 0 0;
	font-size: 16px;
	text-align: center;
}

.projectMeta {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 32px;
	align-items: center;
	justify-content: center;
	margin: 12px 0 0;
}

.projectWebsite {
	@include expand-click-area;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 4px;
	align-items: center;
	justify-content: center;

	&:hover {
		text-decoration: underline;
	}

	> svg {
		color: var(--text-color);
	}
}

.tags {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
}

.tag {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 4px;
	align-items: center;
	padding: 0 8px 0 4px;
	height: $interactive-elem-size_xsmall;
	font-size: 10px;
	font-weight: $font-weight_medium;
	text-transform: uppercase;
	background: var(--secondary-surface-color);
	border-radius: 6px;
}

//

.main {
	display: grid;
	grid-gap: 20px;
	margin: 32px 0 0;
	padding: 0 0 80px;
}

.tabsWrapper {
	display: flex;
	align-items: center;
}

.tabs {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	margin: 0 auto 0 0;
}

.tabsAsideContent {
	margin: -99px 0;
}

.newPostsButton {
	animation: new-posts-button-kf 5s linear infinite;
}

@keyframes new-posts-button-kf {
	0% {
		box-shadow: 0 0 0 0 rgba(var(--accent2-rgb-color), 0.65);
	}

	30% {
		box-shadow: 0 0 0 12px rgba(var(--accent2-rgb-color), 0);
	}
}
//

.content {
	display: grid;
	grid-gap: 32px;
}
