.root {
	padding: 20px;
}

.header {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 8px;
	align-items: center;
	margin: 0 0 8px;

	@include less920px {
		grid-template-columns: 1fr;
		grid-gap: 12px;
	}
}

.title {
	font-size: 32px;
	font-weight: $font-weight_medium;
}

.titleRight {
	justify-self: end;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	align-items: center;

	@include less920px {
		justify-self: start;
	}
}

.tags {
	display: flex;
	margin: 0 0 16px;
	border-bottom: 1px solid var(--border-color);
}

.tag {
	margin: 0 32px 0 0;
	padding: 12px 0;
	color: var(--secondary-text-color);
	font-size: 14px;
	cursor: pointer;
}

.tag_active {
	color: var(--text-color);
}
