.intro-page {
	@include flex-column(stretch, flex-start);

	width: 100vw;
	min-height: 100%;
	position: relative;

	background-color: var(--surface-color);
}

.intro-header {
	@include flex-row(center, flex-start);

	border-bottom: 1px solid #d3d4db;
	height: 64px;
	flex-basis: 64px;
	flex-grow: 0;
	flex-shrink: 0;

	padding-left: 16px;
	padding-right: 16px;

	margin-bottom: 60px;
}

.intro-body {
	@include flex-column(center, flex-start);
}

.intro-main-title {
	font-family: $font-family_wide;
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	/* or 57px */

	text-align: center;
	letter-spacing: -0.09em;

	margin-bottom: 20px;
}

.intro-main-subtitle {
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	/* or 140% */

	text-align: center;

	max-width: 762px;
}

.connected-wallets {
	@include flex-row(center, center);

	flex-wrap: wrap;

	margin-top: 40px;

	.cw-block {
		@include flex-column(center, center);
		width: 260px;
		height: 120px;

		margin-bottom: 15px;

		position: relative;

		border: 1px solid #000000;
		border-radius: 22px;

		margin-left: 20px;
		margin-right: 20px;

		@include less480px {
			width: 180px;

			margin-left: 6px;
			margin-right: 6px;
		}

		&.notActive {
			background-color: rgba(var(--error-rgb-color), 0.03);
			.cw-logo {
				margin-bottom: 0px;
			}
		}

		&.emphaized {
			background: var(--accent-color);
			border: 1px dashed white;
			color: white;
			cursor: pointer;

			.cw-title {
				@include flex-row(center, flex-start);

				color: white;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
			}

			&:hover {
				background: var(--accent-hover-color);
			}
		}

		.cw-logo {
			@include flex-row(center, center);
			width: 32px;
			height: 32px;
			position: relative;

			margin-bottom: 10px;

			.cw-blockchain {
				@include flex-row(center, center);

				width: 22px;
				height: 22px;
				flex-basis: 22px;
				flex-grow: 0;
				flex-shrink: 0;
				border-radius: 11px;
				border: 1px solid black;

				position: absolute;
				right: -10px;
				bottom: -10px;

				background-color: white;
			}
		}

		.cw-title {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			text-align: center;

			margin-bottom: 1px;
		}

		.cw-subtitle {
			max-width: 120px;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			text-align: center;
			color: var(--secondary-text-color);
		}

		.cw-delete {
			@include flex-row(center, center);

			position: absolute;
			right: -5px;
			top: -5px;
			width: 20px;
			height: 20px;
			color: var(--on-inverted-surface-color);
			border-radius: 10px;
			background-color: black;
			cursor: pointer;
			&:hover {
				background-color: var(--inverted-surface-color);
			}
		}
	}
}

.intro-wallets-subtitle {
	font-family: $font-family_wide;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	letter-spacing: -0.09em;
	margin-top: 40px;
	margin-bottom: 30px;
}

.intro-blockchains-list {
	@include flex-row(center, center);
	flex-wrap: wrap;
	padding: 0 30px;
	margin-bottom: 100px;

	.bc-block {
		display: grid;
		justify-items: center;
		grid-gap: 8px;
		width: 140px;
		padding: 20px;
	}
}

.overall {
	@include flex-column(center, center);
	background-color: var(--inverted-surface-color);
	color: var(--on-inverted-surface-color);
	font-size: 18px;
	text-align: center;
	padding: 20px;
	line-height: 140%;
	border-radius: 10px;
}
