:root {
	--primary-text-color: #111;
	--secondary-text-color: #888;

	--surface-color: #fff;
	--surface-hover-color: #eee;
	--secondary-surface-color: #f8f8f8;
	--tertiary-surface-color: #eee;
	--error-surface-color: rgba(255, 68, 85, 0.2);
	--success-surface-color: rgb(0, 187, 68, 0.18);

	--border-color: rgba(0, 0, 0, 0.15);

	--link-color: #19f;
	--link--hover-color: #4bf;

	--field-border-color: rgba(0, 0, 0, 0.15);
	--field-focus-border-color: #4bf;
	--field-error-border-color: #f45;

	--selected-text-color: #19f;
	--selected-background-color: #8cf;

	--error-color: #f45;
	--success-color: #0b4;

	--lite-button-border-color: rgba(0, 0, 0, 0.18);
	--lite-button-hover-background-color: rgba(0, 0, 0, 0.05);
	--error-button-border-color: rgba(255, 68, 85, 0.35);
	--error-button-hover-background-color: rgba(255, 68, 85, 0.1);

	--popup-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

body,
input,
textarea,
select,
button {
	// 1.25 - default Figma line-height for Lexend font
	font: 13px/1.25 $font-family_main;
	color: var(--primary-text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@include flex-column(stretch, flex-start);
	margin: 0;
	min-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;

	// background-image: url(../assets/img/background-desktop.svg);
	background: linear-gradient(0deg, #f7f7ee, #f7f7ee), #ffffff;
	background-image: url(../assets/img/background-desktop-2.svg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

label {
	cursor: inherit;
}

input,
button {
	appearance: none;
	padding: 0;
	background: none;
	border: 0;
}

input:focus,
button:focus {
	outline: none;
}

::placeholder {
	color: var(--secondary-text-color);
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	cursor: pointer;
}

b,
strong {
	font-weight: bolder;
}

code {
	font-family: $font-family_code;
}

svg {
	display: block;
}

hr {
	margin: 0;
	width: 100%;
	border: solid var(--border-color);
	border-width: 0 0 1px;
}

//

#root {
	min-width: 100%;
	min-height: 100vh;
}

body.modal-body-catch {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.ant-tooltip {
	max-width: 600px;
}
