:root {
	--venom-background: linear-gradient(-45deg, #3f6ccb, #4ebc6a);
	--on-venom-background: #fff;
}

[data-theme='v1'] {
	--background-color: #f7f7ee;

	--text-color: #111;
	--secondary-text-color: #888;

	--surface-color: #fffffa;
	--surface-rgb-color: 255, 255, 250;
	--surface-hover-color: #f8f8f8;
	--secondary-surface-color: rgba(0, 0, 0, 0.05);
	--secondary-surface-hover-color: rgba(0, 0, 0, 0.08);
	--tertiary-surface-color: #eee;
	--error-surface-color: rgba(255, 68, 85, 0.2);
	--success-surface-color: #d1f3dd;
	--inverted-surface-color: #111;
	--on-inverted-surface-color: #fff;

	--border-color: rgba(0, 0, 0, 0.1);
	--border-lite-color: rgba(0, 0, 0, 0.1);
	--border-heavy-color: rgba(0, 0, 0, 0.3);

	--link-color: #0a8;

	--field-border-color: rgba(0, 0, 0, 0.15);
	--field-focus-border-color: #4bf;
	--field-error-border-color: #f45;

	--selected-text-color: #19f;
	--selected-background-color: #92cffb;
	--selected-light-background-color: #d1ecff;

	--accent-color: #b4c;
	--accent-rgb-color: 187, 68, 204;
	--accent-hover-color: #a2b;
	--accent-surface-color: rgba(var(--accent-rgb-color), 0.1);
	--on-accent-color: #fff;

	--accent-lite-color: #f3c9f4;

	--accent2-color: #0a8;
	--accent2-rgb-color: 0, 170, 136;
	--accent2-hover-color: #0f947a;
	--accent2-surface-color: rgba(var(--accent2-rgb-color), 0.1);
	--on-accent2-color: #fff;

	--accent2-lite-color: #d3f9e5;

	--error-color: #f45;
	--error-rgb-color: 255, 68, 85;
	--success-color: #0b4;

	--shade-color: #000;
	--shade-rgb-color: 0, 0, 0;
	--popup-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	--inverted-popup-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
	--layout-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

[data-theme='v2'] {
	--background-color: #e4ebf0;

	--text-color: #111;
	--secondary-text-color: #888;

	--surface-color: #fff;
	--surface-rgb-color: 255, 255, 255;
	--surface-hover-color: #f8f8f8;
	--secondary-surface-color: #f4f9fc;
	--tertiary-surface-color: #d3d7db;
	--error-surface-color: rgba(255, 68, 85, 0.2);
	--success-surface-color: #d1f3dd;
	--inverted-surface-color: #111;
	--on-inverted-surface-color: #fff;

	--border-color: rgba(0, 0, 0, 0.1);
	--border-lite-color: rgba(0, 0, 0, 0.05);
	--border-heavy-color: rgba(0, 0, 0, 0.2);

	--link-color: #0b9;

	--field-border-color: rgba(0, 0, 0, 0.15);
	--field-focus-border-color: #0b9;
	--field-error-border-color: #f45;

	--selected-text-color: #19f;
	--selected-background-color: #92cffb;
	--selected-light-background-color: #d1ecff;

	--accent-color: #0b9;
	--accent-rgb-color: 0, 187, 153;
	--accent-hover-color: #097;
	--accent2-surface-color: rgba(var(--accent-rgb-color), 0.1);
	--on-accent-color: #fff;

	--accent2-color: #0b9;
	--accent2-rgb-color: 0, 187, 153;
	--accent2-hover-color: #097;
	--accent-surface-color: rgba(var(--accent2-rgb-color), 0.1);
	--on-accent2-color: #fff;

	--error-color: #f45;
	--error-rgb-color: 255, 68, 85;
	--success-color: #0b4;

	--shade-color: #000;
	--shade-rgb-color: 0, 0, 0;
	--popup-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	--inverted-popup-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
	--layout-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

//

body {
	background: var(--background-color);
	transition: background-color 1s;
}

body,
button,
input,
textarea,
select,
optgroup {
	// 1.21 - default Figma line-height for Inter font. We use 1.2 to make it more even
	font: $font-weight_regular 14px/1.2 $font-family_main;
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
	appearance: none;
	padding: 0;
	background: none;
	border: 0;
}

:focus {
	outline: none;
}

::placeholder {
	color: var(--secondary-text-color);
}

textarea {
	resize: none;
}

label,
button,
[type='button'],
[type='reset'],
[type='submit'] {
	cursor: pointer;
}

*[disabled] {
	cursor: default;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

b,
strong {
	font-weight: bolder;
}

code {
	font-family: $font-family_code;
}

svg {
	display: block;
}

hr {
	width: 100%;
	border: solid var(--border-color);
	border-width: 0 0 1px;
}

iframe {
	display: block;
}

//

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*
Hide Wallet Connect modal.
It's never used, but it causes UI blinking during initialization.
 */
wcm-modal {
	visibility: hidden;
}
