$font-family_main: 'Inter', Tahoma, Verdana, Geneva, sans-serif;
$font-family_code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-weight_light: 300;
$font-weight_regular: 400;
$font-weight_medium: 500;
$font-weight_semi-bold: 600;

$line-height_text: 1.5;

$interactive-elem-size_xsmall: 24px;
$interactive-elem-size_small: 28px;
$interactive-elem-size: 32px;
$interactive-elem-size_large: 36px;
$interactive-elem-size_xlarge: 44px;

// RESPONSIVE

$mediaWidth1440: 1440px;
$mediaWidth1152: 1152px;
$mediaWidth768: 768px;
$mediaWidth640: 640px;
$mediaWidth480: 480px;

$mediaHeight900: 900px;
$mediaHeight768: 768px;

@mixin lessThan($width: null, $height: null) {
	@if $width and $height {
		@media (max-width: $width), (max-height: $height) {
			@content;
		}
	} @else if $width {
		@media (max-width: $width) {
			@content;
		}
	} @else if $height {
		@media (max-height: $height) {
			@content;
		}
	} @else {
		@error "No WIDTH or HEIGHT";
	}
}

@mixin lessThan1440x900() {
	@include lessThan($mediaWidth1440, $mediaHeight900) {
		@content;
	}
}

@mixin lessThan1152w() {
	@include lessThan($mediaWidth1152) {
		@content;
	}
}

@mixin lessThan768w() {
	@include lessThan($mediaWidth768) {
		@content;
	}
}

@mixin lessThan640w() {
	@include lessThan($mediaWidth640) {
		@content;
	}
}

@mixin lessThan768h() {
	@include lessThan(null, $mediaHeight768) {
		@content;
	}
}

@mixin lessThan480w() {
	@include lessThan($mediaWidth480) {
		@content;
	}
}

// UTILS

@mixin expand-click-area($size: 4px, $pseudo: before) {
	position: relative;

	&:#{$pseudo} {
		content: '';
		position: absolute;
		top: -#{$size};
		right: -#{$size};
		bottom: -#{$size};
		left: -#{$size};
	}
}

@mixin truncate-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin article-text {
	line-height: $line-height_text;
	word-break: break-word;

	a:hover,
	a:focus-visible {
		text-decoration: underline;
	}
}

@mixin no-text-selection {
	-webkit-user-select: none; /* Safari */
	user-select: none;
}

// MISC

@mixin flex-row($align-items, $justify-content) {
	display: flex;
	flex-direction: row;
	align-items: $align-items;
	justify-content: $justify-content;
}

@mixin flex-column($align-items, $justify-content) {
	display: flex;
	flex-direction: column;
	align-items: $align-items;
	justify-content: $justify-content;
}

//

@keyframes stripes-animation-background-keyframes {
	to {
		background-position-x: 69px;
	}
}

@mixin stripes-animation-background {
	background-image: repeating-linear-gradient(-60deg, #dbf8f4, #dbf8f4 10px, #edfffd 10px, #edfffd 20px);
	background-size: 69px 40px;
	animation: stripes-animation-background-keyframes 1s linear infinite;
}

//

@mixin feed-attachment-image($maxHeight: 480px, $clickable: true) {
	width: 100%;
	max-height: $maxHeight;
	object-fit: cover;
	border-radius: 4px;

	@if $clickable {
		cursor: pointer;

		&:hover {
			opacity: 0.9;
		}
	}
}
