.root {
	display: grid;
	grid-gap: 16px;
	padding: 0 16px;
}

.section {
	min-width: 0;
}

.sectionTitle {
	display: flex;
	align-items: center;
	padding: 0 0 0 8px;
	height: 40px;
	font-size: 16px;
	font-weight: $font-weight_bold;
}

.sectionButton {
	align-self: center;
	justify-self: center;
	margin: 0 0 8px;
	min-width: 148px;
}

.sectionContent {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 -16px;
	padding: 0 0 0 16px;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 200ms;
}

.sectionContent_open {
	max-height: 600px;
	opacity: 1;
}

.sectionLink {
	display: flex;
	align-items: center;
	margin: 0 0 0 -16px;
	padding: 0 2px 0 32px;
	height: 32px;
	color: var(--primary-text-color);
	cursor: pointer;
}

.sectionLink_active {
	background: var(--border-color);
	border-radius: 0 30px 30px 0;
}

.sectionLink_submenu {
	padding-left: 52px;
}

.sectionLink_section {
	padding-left: 24px;
	font-size: 16px;
	font-weight: $font-weight_bold;
}

.sectionLinkIconLeft {
	flex: 0 0 20px;
	position: relative;
	margin-right: 8px;

	> * {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 100%;
		transform: translate(-50%, -50%);
	}
}

.sectionLinkTitle {
	@include truncate-text;
	flex: 1 1;
	padding: 0 4px 0 0;
	min-width: 0;
	line-height: 20px;
}

.sectionRightButton {
	margin: -99px 0;
	opacity: 0.25;

	&:hover,
	&:focus-visible {
		opacity: 1;
	}
}

.socials {
	padding: 24px 0 0 8px;

	a {
		margin-left: 8px;
		@include expand-click-area(4px);
		color: var(--primary-text-color);

		&:hover {
			color: var(--link-color);
		}

		svg {
			fill: currentColor;
		}
	}
}

.socialItem {
	display: flex;
	align-items: center;
}

.burger {
	display: none;

	@include less920px {
		display: block;
	}
}

//

.inboxButton {
	display: flex;
	align-items: center;
}

.inboxNotification {
	@include expand-click-area;
	margin: 0 0 0 8px;
	width: 6px;
	height: 6px;
	background: var(--error-color);
	border-radius: 50%;
	animation: inboxNotification-keyframes 10s linear infinite;
}

@keyframes inboxNotification-keyframes {
	0% {
		box-shadow: 0 0 0 0 rgba(var(--error-rgb-color), 0.3);
	}

	20% {
		box-shadow: 0 0 0 8px rgba(var(--error-rgb-color), 0);
	}
}
