.root {
	display: grid;
	grid-gap: 20px;
	padding: 0 0 20px;
}

//

.block {
	display: grid;
	grid-gap: 32px;
	padding: 20px;
	background: var(--surface-color);
	border-radius: 16px;
}

.block_prettyLook {
	background: linear-gradient(90deg, var(--accent2-lite-color) 0%, var(--accent-lite-color) 100%);
}

//

.section {
	display: grid;
	grid-gap: 16px;
}

.sectionTitle {
	display: flex;
	align-items: center;
}

.sectionTitleText {
	font-size: 12px;
	font-weight: $font-weight_medium;
	text-transform: uppercase;
	color: var(--secondary-text-color);

	.block_prettyLook & {
		color: var(--text-color);
	}
}

.sectionButton {
	margin: -99px 0 -99px auto;
}

.sectionContent {
	display: grid;
	grid-gap: 12px;
}

//

.sidebarButton {
	display: flex;
	align-items: center;
	position: relative;
	color: var(--text-color);
	font-weight: $font-weight_medium;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		top: -6px;
		right: -6px;
		bottom: -6px;
		left: -6px;
		background: var(--secondary-surface-color);
		border-radius: 8px;
		opacity: 0;
	}
}

.sidebarButton_active:before {
	background: var(--accent2-surface-alpha-color);
}

.sidebarButton:hover,
.sidebarButton:focus-visible,
.sidebarButton_active {
	&:before {
		opacity: 1;
	}
}

.sidebarButtonIcon {
	flex: 0 0 20px;
	position: relative;
	margin-right: 12px;
	height: 20px;

	> * {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 100%;
		transform: translate(-50%, -50%);
	}
}

.sidebarButtonTitle {
	@include truncate-text;
	flex: 1 1;
	padding: 0 4px 0 0;
	min-width: 0;
}

.sidebarButtonRight {
	margin: -99px 0;
	opacity: 0.25;

	&:hover,
	&:focus-visible {
		opacity: 1;
	}
}

//

.sidebarCommunity_active:before {
	background: var(--accent2-surface-alpha-color);
}

//

.divider {
	justify-self: center;
	width: 100px;
	border-top: 1px solid var(--border-color);
}

.socials {
	justify-self: center;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;

	a {
		@include expand-click-area(4px);
		color: var(--text-color);
		opacity: 0.2;

		&:hover {
			opacity: 1;
		}

		svg {
			fill: currentColor;
		}
	}
}

.burger {
	display: none;

	@include lessThan1152w {
		display: block;
	}
}

//

.inboxButton {
	display: flex;
	align-items: center;
}

.inboxNotification {
	@include expand-click-area;
	margin: 0 0 0 8px;
	width: 6px;
	height: 6px;
	background: var(--error-color);
	border-radius: 50%;
	animation: inboxNotification-keyframes 10s linear infinite;
}

@keyframes inboxNotification-keyframes {
	0% {
		box-shadow: 0 0 0 0 rgba(var(--error-rgb-color), 0.3);
	}

	20% {
		box-shadow: 0 0 0 8px rgba(var(--error-rgb-color), 0);
	}
}
