.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

.scrollToTop {
	position: fixed;
	z-index: 1;
	right: 20px;
	bottom: 20px;
	box-shadow: var(--popup-shadow);
}
