.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

.posts {
	display: grid;
	grid-gap: 12px;
}

.scrollToTop {
	position: fixed;
	z-index: 1;
	right: 20px;
	bottom: 20px;
	box-shadow: var(--popup-shadow);
}

.buttons {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: end;
	gap: 8px;
}
