.root {
	display: flex;
	align-items: center;
	padding: 8px 0;

	&:not(:last-child) {
		border-bottom: 1px solid var(--border-lite-color);
	}

	> :not(:first-child) {
		margin: 0 0 0 8px;
	}
}

.colors {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
}

.color {
	width: 28px;
	height: 28px;
	background: var(--tertiary-surface-color);
	border-radius: 100%;
}

.color_notSelected {
	opacity: 0.5;
	cursor: pointer;
}

.name {
	@include truncate-text;
	flex: 1;
}

.actions {
	flex: 0 0 auto;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
}
