.root {
	display: grid;
	grid-template-columns: auto 1fr auto;
	margin: 12px 0;
}

.link {
	padding: 8px 12px;
	font-size: 15px;
}

.link_prev {
	grid-column: 1/2;
}

.link_next {
	grid-column: 3/4;
}
