.newPosts {
	@include flex-row(center, center);
	position: fixed;
	top: 30px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	z-index: 20;

	.feedNewPostsButton {
		background-color: white;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

		&:hover {
			color: black;
		}
	}
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

.scrollToTop {
	position: fixed;
	z-index: 1;
	right: 20px;
	bottom: 20px;
}
