.newPosts {
	@include flex-row(center, center);
	position: fixed;
	top: 30px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	z-index: 20;

	.feedNewPostsButton {
		background-color: white;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

		&:hover {
			color: black;
		}
	}
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

.scrollToTop {
	@include flex-row(center, center);

	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);

	position: fixed;
	right: 20px;
	bottom: 20px;

	transition: box-shadow 0.2s;

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}
