.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 20px;
}

.left {
	display: flex;
	align-items: center;
}

.backButton {
	margin: 0 8px 0 0;
}

.title {
	font-size: 24px;
}
