.wallets-block {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 800px;
	margin-top: 50px;
}

.wallet-block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	padding: 10px 20px;
	background: #ffffff;
	border: 1px solid black;
	box-shadow: 5px 5px 0px black;
	border-radius: 30px;
	width: 350px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	&.ready {
		background-color: rgb(228, 255, 228);
	}
	.wb-head {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.wb-head-left {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			flex-grow: 1;
			.wb-logo {
				margin-right: 10px;
			}
			.wb-title {
				font-size: 18px;
			}
		}
		.wb-head-right {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}
	}
	.wb-body {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		.wb-title {
			text-align: left;
			font-size: 14px;
			margin-bottom: 10px;
			margin-top: 10px;
			font-weight: 300;
		}
		.wb-chains-list {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-bottom: 10px;
			margin-left: -10px;
			.wb-chain {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				margin-bottom: 8px;
				margin-left: 10px;
				.wb-chain-logo {
					margin-right: 3px;
					margin-top: -2px;
				}
				.wb-chain-title {
					font-size: 14px;
				}
			}
		}
	}
	&.not-available {
		.wb-head,
		.wb-body {
			opacity: 0.2;
			pointer-events: none;
		}
	}
	.wb-not-available {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background-color: rgba(0, 0, 0, 0.05);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		font-weight: 500;
		color: black;
	}
}

// .ylide-button-content {
// 	flex-grow: 1;
// 	justify-content: space-between;
// }
