.root {
	position: relative;
	padding: 12px;
	background: var(--surface-color);
	border: 1px solid var(--border-color);
	border-radius: 12px;

	@include less720px {
		border-width: 1px 0;
		border-radius: 0;
	}
}

.root_compact {
	grid-gap: 4px 8px;
	padding: 8px;

	@include less720px {
		border-width: 1px;
		border-radius: 8px;
	}
}

.root_collapsed {
	max-height: 600px;
	overflow: hidden;
}

.readMore {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px 0 0;
	height: 70px;
	font-size: 15px;
	text-align: center;
	color: var(--link-color);
	background: var(--surface-color);
	background: linear-gradient(0deg, rgba(var(--surface-rgb-color), 1) 80%, rgba(var(--surface-rgb-color), 0) 100%);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	cursor: pointer;

	&:hover,
	&:focus-visible {
		color: var(--primary-text-color);
	}
}
