.ylide-address {
	@include flex-row(flex-start, flex-start);
	height: 1rem;
	line-height: 100%;
	// position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: center;
	justify-content: inherit;
	.ylide-address-background {
		position: absolute;
		height: 1rem;
		line-height: 100%;
		opacity: 0;
		font-family: monospace;
		pointer-events: none;
	}
	.ylide-address-value {
		display: flex;
		flex-direction: row;
		box-sizing: content-box;
		height: 1rem;
		line-height: 100%;
		font-family: monospace;
		flex-shrink: 1;
		text-align: inherit;
		justify-content: inherit;
		align-items: inherit;
		width: 0;
	}
}
