.ylide-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	background: #ffffff;
	border: 2px solid #202020;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.2s;
	font-weight: 400;
	font-size: 14px;
	color: #202020;
	.y-icon {
		stroke: #202020;
		transition: all 0.2s;
	}
	&.ghost {
		border-color: transparent;
		font-weight: 300;
	}
	&.size-small {
		font-size: 12px;
		padding: 3px 12px;
	}
	&.size-tiny {
		font-size: 11px;
		padding: 0px 8px;
		border: 1px solid black;
	}
	&.centered {
		padding: 3px;
	}
	&.nice {
		border: 1px solid black;
		background-color: transparent;
	}
	&.primary {
		background: black;
		color: white;
	}
	&:hover {
		background: black;
		color: white;
		.y-icon {
			stroke: white;
		}
		&.primary {
			background: white;
			color: black;
		}
		&.ghost {
			border-color: black;
			background: white;
			color: black;
		}
	}
}
