.ylide-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 18px;
	width: 18px;
	flex: 0 0 18px;
	background-color: #fff;
	border: 1px solid rgba(33, 37, 41, 0.25);
	border-radius: 4px;
	cursor: pointer;

	transition: all 0.3s;

	&.hover {
		border: 1px solid #1ab394;
	}

	&.checked {
		background-color: #1ab394;
	}
}
