.ylide-input {
	font-family: Lexend;
	font-size: 16px;
	border-radius: 40px;
	height: 36px;
	border: 1px solid #000000;
	padding: 5px 10px;
}

.ylide-password-input {
	height: 50px;
	padding: 10px 25px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;

	@include less480px {
		margin-left: 0px;
		margin-right: 0px;
	}
}
