.loader {
	width: 42px;
	height: 42px;
	transform: rotate(45deg);

	div {
		width: 6px;
		height: 6px;
		transform: scale(2);
		background: #000000;
		border-radius: 100%;
		float: left;
		margin-bottom: 12px;
		animation: scaleDot 4s ease infinite;
		&:not(:nth-child(3n + 3)) {
			margin-right: 12px;
		}
		//row 1
		&:nth-child(1) {
			opacity: 0;
			animation-delay: 0;
		}
		//row 2
		&:nth-child(2),
		&:nth-child(4) {
			opacity: 1;
			animation-delay: 0.2s;
		}
		//row 3
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(7) {
			animation-delay: 0.6s;
		}
		//row 4
		&:nth-child(6),
		&:nth-child(8) {
			animation-delay: 1s;
		}
		//row 5
		&:nth-child(9) {
			animation-delay: 1.4s;
		}
	}
}

@keyframes scaleDot {
	5% {
		transform: scale(1.9);
		background-color: #000000;
	}
	25% {
		transform: scale(2.4);
		background-color: #b0fcde;
	}
	45% {
		transform: scale(1.9);
		background-color: #000000;
	}
	55% {
		transform: scale(1.9);
		background-color: #000000;
	}
	75% {
		transform: scale(2.4);
		background-color: #f2abfe;
	}
	95% {
		transform: scale(1.9);
		background-color: #000000;
	}
}

@-webkit-keyframes MOVE-BG {
	from {
		-webkit-transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(46px);
	}
}

@keyframes MOVE-BG {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(46px);
	}
}

@mixin stripes-animation {
	position: relative;
	overflow: hidden;
	&::after {
		content: ' ';
		position: absolute;
		left: -46px;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;

		background: -webkit-repeating-linear-gradient(
			145deg,
			#dbf8f4 1px,
			#edfffd 2px,
			#dbf8f4 11px,
			#dbf8f4 12px,
			#dbf8f4 20px
		);
		background: repeating-linear-gradient(
			-55deg,
			#edfffd 1px,
			#dbf8f4 2px,
			#dbf8f4 11px,
			#edfffd 12px,
			#edfffd 20px
		);

		-webkit-animation-name: MOVE-BG;
		-webkit-animation-duration: 0.6s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;

		animation-name: MOVE-BG;
		animation-duration: 0.6s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

.ant-spin {
	line-height: 100%;
}
