.wm-body {
	@include flex-column(stretch, flex-start);
	flex-grow: 1;
	flex-shrink: 0;

	&.centered {
		justify-content: center;
	}
}

.wm-footer {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	padding: 16px 0;
}

.wm-footer-vertical {
	display: grid;
	grid-gap: 8px;
	padding: 16px 0;
}

.ylide-callout {
	@include flex-column(flex-start, center);
	font-size: 14px;
	background: rgba(var(--error-rgb-color), 0.2);
	border-radius: 22px;
	padding: 16px 20px;
	margin-top: 16px;
}
