.modal-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
}

.modal-backdrop {
	position: absolute;
	z-index: 2040;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	@include flex-column(stretch, flex-start);

	position: absolute;
	z-index: 2041;
	padding: 30px;
	border-radius: 20px;
	background-color: white;
	width: 500px;

	@include less480px {
		width: auto;
		margin-left: 10px;
		margin-right: 10px;

		padding: 15px;
		padding-top: 30px;
	}

	&.wallet-modal {
		width: 400px;
		padding: 12px;
	}
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
}

.modal-title {
	font-family: Lexend;
	font-size: 24px;
	text-align: center;
}

.modal-subtitle {
	font-family: Lexend;
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.modal-input {
	@include flex-column(stretch, flex-start);

	.modal-input-control {
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.modal-footer {
	@include flex-row(center, flex-end);

	border-top: 1px solid #e0e0e0;
	padding-top: 20px;
	margin-top: 40px;

	button {
		margin-left: 15px;
	}
}
