@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
.chainSelectPageWrap {
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    background-color: #2f4050;
    margin: 0;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
}

.main {
    width: 100%;
    color: white;
    padding-bottom: 50px;
}

.selectANetwork {
    width: 90%;
    margin: 5%;
    // border: 1px solid #1f2030;
    border-radius: 5px;
}

.selectANetworkHeader {
    display: flex;
    justify-content: space-between;
    margin: 3%;
    align-items: center;
}

.selectANetworkDescription {
    font-size: 1.2rem;
}

.clouseButton {
    background: transparent;
    border: 0;
    color: white;
}

.clouseButton:hover {
    transition: 0.3s;
    transform: rotate(90deg);
    cursor: pointer;
}

.selectANetworkContent {
    width: 94%;
    margin: 0 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.network {
    position: relative;
    color: white;
    background: #293846;
    display: flex;
    font-size: 1.2rem;
    border: 1px solid #272b3e;
    border-radius: 5px;
    width: 48%;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 20px;
}

.network:not(.available) {
    opacity: 0.8;
}

.network.available:hover {
    cursor: pointer;
}

.network.available:active {
    border: 1px solid #1ab394;
}

.networkImg {
    width: 8%;
    padding-left: 2.5%;
}

.networkName {
    padding: 3.5%;
}

@media (max-width: 500px) {
    .selectANetwork {
        margin-top: 12%;
    }
    .network {
        width: 90%;
        margin-bottom: 5%;
    }
    .selectANetworkHeader {
        margin: 6%;
    }
}

@media (max-width: 320px) {
    .chainSelectPageWrap {
        line-height: 16px;
        font-size: 12px;
    }
}