.root {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr minmax(0, 720px) 1.5fr;

	@include less920px {
		grid-template-columns: 1fr minmax(0, 720px) 1fr;
	}

	@include less720px {
		grid-template-columns: 1fr;
		padding: 12px 0;
	}
}

.main {
	grid-column: 2/3;

	@include less720px {
		grid-column: 1/2;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 12px 12px;

	@include less720px {
		padding: 0 12px 12px;
	}
}

.title {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 12px;
}

.titleText {
	font-size: 24px;
}
