.root {
	padding: 24px 74px 24px 48px;

	@include less920px {
		padding: 16px 20px;
	}

	@include less720px {
		padding: 16px 0;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 16px 12px;

	@include less720px {
		padding: 0 12px 16px;
	}
}

.title {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 12px;
}

.titleText {
	font-size: 24px;
}
