.root {
	display: flex;
	align-items: center;
	padding: 8px 0;

	&:not(:last-child) {
		border-bottom: 1px solid var(--border-lite-color);
	}

	> :not(:first-child) {
		margin: 0 0 0 8px;
	}
}

.avatar {
	flex-shrink: 0;
	width: 28px;
}

.name {
	@include truncate-text;
	flex: 1;
}

.address {
	@include truncate-text;
	flex: 2;
}

.folders {
	@include truncate-text;
	flex: 1;
}

.actions {
	flex: 0 0 auto;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
}

@include less920px {
	.root {
		flex-direction: column;
		align-items: stretch;
		padding: 12px 0;

		> :not(:first-child) {
			margin: 0 0 4px 56px;
		}
	}

	.avatar {
		align-self: start;
		margin: 0 0 -48px;
		width: 48px;
	}

	.name {
		font-size: 15px;
		font-weight: $font-weight_semi-bold;
	}

	.actions {
		justify-content: start;
	}
}
