.root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.description {
    margin: 0 0 20px;
    font-size: 15px;
}

.list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 calc(-1 * var(--narrow-content-padding));
    border: solid var(--border-color);
    border-width: 1px 0;
}

.listInner {
    flex-grow: 1;
}

.category {
    display: grid;
    grid-template-columns: auto 1.5fr 1fr;
    grid-gap: 12px;
    align-items: center;
    padding: 8px 12px 8px 20px;
    height: 40px;
    font-weight: $font-weight_bold;
    background: var(--tertiary-surface-color);
}

.categoryReason {
    @include truncate-text;
}

.categoryProject {
    @include truncate-text;
    text-align: right;
    margin-right: 24px;

    @include less480px {
        display: none;
    }
}

.row {
    display: flex;
    align-items: center;
    padding: 0 20px;

    > :not(:first-child) {
        margin: 0 0 0 12px;
    }
}

.row_2 {
    background: var(--secondary-surface-color);
}

.row_data {
    height: 40px;
}

//

.sourceCheckBox {
    @include less480px {
        grid-row: 1/4;
    }
}

.sourceName {
    flex: 0.8 1;
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    grid-gap: 4px;
}

.sourceNameText {
    @include truncate-text;
}

.sourceOrigin {
    flex: 0.5 1;
    display: flex;
}

.sourceOriginLink {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 4px;
    color: var(--primary-text-color);

    &:hover {
        color: var(--link-color);
    }
}

.sourceOriginText {
    @include truncate-text;
}

.sourceProject {
    @include truncate-text;
    flex: 0.5 1;
    text-align: center;
    font-weight: $font-weight_bold;

    @include less480px {
        display: none;
    }
}

//

.noData {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--secondary-text-color);
}

.error {
    margin: 20px 0;
}

.footer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    grid-gap: 8px;
    padding: 20px 0 0;
}

.footerLeft {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
}

.footerRight {
    margin: 0 0 0 auto;
}
