.root {
	@include flex-row(center, center);

	padding: 4px 12px;
	border: 1px solid var(--border-color);
	border-radius: 22px;
}

.logo {
	@include flex-row(center, flex-start);
	margin-right: 8px;
}

.name {
	@include flex-row(center, flex-start);
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 100%;
}

.address {
	@include flex-row(center, flex-start);
	max-width: 105px;
	width: 105px;
	margin-left: 8px;
}
