.root {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: start;
	grid-gap: 8px;
}

.root_disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.65;
}

.checkBox {
	@include expand-click-area(8px);
	display: block;
	position: relative;
	width: 18px;
	height: 18px;
}

.input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.view {
	display: grid;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 1px solid transparent;

	.root_checked & {
		background: var(--accent2-color);

		svg {
			fill: var(--surface-color);
		}
	}

	.root_checked:hover &,
	.root_checked .input:focus-visible + & {
		background: var(--accent2-hover-color);
	}

	.root_unchecked & {
		background: var(--surface-color);
		border-color: var(--border-color);
	}

	.root_unchecked:hover &,
	.root_unchecked .input:focus-visible + & {
		border-color: var(--border-heavy-color);
	}
}
