.root {
	display: grid;
	grid-template-columns: 32px 1fr;
	grid-gap: 4px 16px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 32px;
		bottom: -32px;
		left: 16px;
		width: 1px;
		background: var(--border-color);
	}
}

//

.meta {
	display: flex;
	align-items: center;
}

.metaLeft {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	align-items: center;
}

.metaRight {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 12px;
	align-items: center;
	margin: 0 0 0 auto;

	&:before {
		// Needed to make meta-button's negative margin work when it's the only element
		content: ' ';
	}
}

.adminTag {
	padding: 2px 4px;
	font-size: 11px;
	color: var(--on-venom-background);
	background: var(--venom-background);
	border-radius: 4px;
	cursor: default;
}

.sender {
	font-size: 14px;
	font-weight: $font-weight_semi-bold;
	cursor: pointer;

	&:hover {
		color: var(--link-color);
	}
}

.senderContent_admin {
	background: var(--venom-background);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	&:hover {
		-webkit-text-fill-color: currentColor;
	}
}

.metaAction {
	margin: -99px 0;
	color: var(--secondary-text-color);
	font-size: 12px;
}

.metaAction_interactive {
	@include expand-click-area;
	cursor: pointer;

	&:hover {
		color: var(--link-color);
	}
}

.metaAction_icon {
	margin: -99px -2px;
	width: 20px;
	height: 20px;
}

//

.body {
	grid-column: 2/3;
	display: grid;
	grid-gap: 8px;
}

.content {
	display: grid;
	grid-gap: 20px;
	padding: 20px;
	background: var(--surface-color);
	border-radius: 16px;
}

.text {
	font-size: 16px;
	line-height: $line-height_text;
	word-break: break-word;
}

.sticker {
	height: 200px;
	object-fit: contain;
	border-radius: 8px;
}

.cover {
	@include feed-attachment-image;
}
