.root {
	@include popup-root;
}

.content {
	@include popup-inner(8px);
	display: grid;
	grid-gap: 12px;
	padding: 16px;
}

.icon {
	width: 24px;
	height: 24px;
}

.primaryButtons {
	display: grid;
	grid-gap: 8px;
}

.primaryButton {
	@include expand-click-area(4px);
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	justify-items: start;
	grid-gap: 8px;

	&:hover,
	&:focus-visible {
		color: var(--link-color);
	}
}

.divider {
	height: 1px;
	background: var(--border-color);
}

.bottomButtons {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	grid-gap: 8px;
}

.bottomButton {
	@include expand-click-area(2px);

	&:hover,
	&:focus-visible {
		opacity: 0.8;
	}
}
