.root {
	position: fixed;
	padding: 4px 0;
}

.content {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	padding: 16px;
	background: var(--surface-color);
	border-radius: 4px;
	box-shadow: var(--popup-shadow);
}

.button {
	@include expand-click-area;
	width: 32px;
	height: 32px;
	border-radius: 100%;

	&:hover,
	&:focus-visible {
		opacity: 0.8;
	}

	> svg {
		width: 100%;
		height: 100%;
	}
}
