.layout {
	padding: 0 !important;
}

.root {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px;
	height: 52px;
	background: var(--secondary-surface-color);
	border-radius: 10px 10px 0 0;
}

.messageWrapper {
	flex-grow: 1;
	flex-basis: 0;
	overflow-y: auto;
}

.footer {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
	align-items: center;
	justify-content: end;
	padding: 20px;
	border-top: 1px solid var(--border-color);
}
