:global {
	.send-btn {
		display: flex;
		flex-direction: row;
		align-items: stretch;

		height: 30px;
		color: white;

		&.disabled {
			pointer-events: none;
			opacity: 0.6;
		}

		.send-btn-text {
			@include flex-row(center, flex-start);

			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;

			background-color: var(--accent-color);

			padding-left: 10px;
			font-size: 0.8rem;

			padding-top: 1px;
			padding-right: 10px;
			line-height: 1;
			cursor: pointer;

			&:hover {
				background-color: var(--accent-hover-color);
			}

			.send-btn-title {
				@include flex-row(center, flex-start);

				svg {
					margin-left: 6px;
					margin-right: 4px;
				}
			}
		}
		.send-btn-dropdown-icon {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;

			background-color: var(--accent-color);

			display: flex;
			align-items: center;
			padding: 0 4px;

			cursor: pointer;

			border-left: 1px solid var(--accent-hover-color);

			&:hover {
				background-color: var(--accent-hover-color);
			}

			> svg {
				fill: currentColor;
			}
		}

		&:not(.withDropdown) {
			.send-btn-text {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;

				padding-right: 13px;
			}
		}
	}
}
