.root {
	padding: 0 7px;
	width: 100%;
	height: $interactive-elem-size;
	border: 1px solid var(--border-color);
	border-radius: 4px;
}

.root_error {
	border-color: var(--field-error-border-color);
}

.root:focus {
	border-color: var(--field-focus-border-color);
}
