.transactionPopupWrap {
	width: 280px;

	position: fixed;
	right: 25px;
	top: 70px;
	z-index: 10;

	@include less480px {
		position: sticky;
		top: 10px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	.cross {
		position: absolute;
		right: -10px;
		top: -10px;

		z-index: 11;

		cursor: pointer;
		border-radius: 50%;
		transition: all 0.3s;
	}
}

.transactionPopup {
	@include flex-column(flex-start, stretch);

	width: 280px;
	padding: 16px;
	overflow: hidden;
	position: relative;

	background: var(--surface-color);
	border: 1px solid var(--accent-color);
	box-shadow: var(--popup-shadow);
	border-radius: 12px;

	transition: all 0.3s;

	&.success {
		@include flex-column(center, flex-start);

		background: var(--success-surface-color);
		border: 1px solid var(--success-color);
	}

	.progress {
		position: absolute;
		left: 0;
		top: 0;
		height: 4px;

		transition: 0.3s all;

		background-color: var(--accent-color);
	}

	.header {
		font-size: 14px;
	}
	.text {
		font-size: 12px;
	}
	.subtext {
		font-size: 12px;

		margin-top: 10px;
	}
	.check {
		margin-bottom: 3px;
	}
	.central {
		margin-bottom: 10px;

		font-size: 14px;
		text-align: center;
	}
}
