.root {
	display: grid;
	grid-gap: 4px;
}

.row {
	display: grid;
	align-items: center;
	grid-gap: 16px;
	padding: 0 20px;
	height: 52px;
	font-size: 18px;
}

.row_head {
	color: var(--secondary-text-color);
}

.row_data {
	background: var(--surface-color);
	border: 1px solid var(--border-color);
	border-radius: 12px;
}

.row_clickable:hover {
	background: var(--surface-hover-color);
	cursor: pointer;
}

.cell {
	min-width: 0;
}

.empty {
	padding: 40px 0;
	font-size: 15px;
	text-align: center;
	color: var(--secondary-text-color);
}
