.root {
	@include expand-click-area(2px);
	display: inline-grid;
	grid-auto-flow: column;
	grid-gap: 4px;
	align-items: center;
	justify-content: center;
	position: relative;
	border: 1px solid;
	border-radius: 22px;

	> i {
		min-width: 20px;
		text-align: center;
	}

	:global(.anticon) {
		padding: 3px;
		width: 20px;
		height: 20px;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
.root_disabled {
	pointer-events: none;
	opacity: 0.5;
}

.icon {
	position: relative;
	width: 20px;
	height: 20px;

	> * {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.content {
	padding: 1px 0 0;
	line-height: 1.25;
	text-transform: uppercase;
}
.root_singleline .content {
	@include truncate-text;
}

.root_loading .icon,
.root_loading .content {
	visibility: hidden;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// SIZE

.root_smallSize {
	$size: $interactive-elem-size_small;

	padding-top: 3px;
	padding-bottom: 3px;
	min-width: $size;
	min-height: $size;

	&.root_hasContent {
		padding-right: 11px;
		padding-left: 11px;
	}

	&.root_hasIcon {
		padding-left: 5px;
	}

	&.root_hasIcon:not(.root_hasContent) {
		padding-right: 3px;
		padding-left: 3px;
	}

	.content {
		font-size: 11px;
	}
}

.root_mediumSize {
	$size: $interactive-elem-size;

	padding-top: 3px;
	padding-bottom: 3px;
	min-width: $size;
	min-height: $size;

	&.root_hasContent {
		padding-right: 13px;
		padding-left: 13px;
	}

	&.root_hasIcon {
		padding-left: 7px;
	}

	&.root_hasIcon:not(.root_hasContent) {
		padding-right: 5px;
		padding-left: 5px;
	}

	.content {
		font-size: 11px;
	}
}

.root_largeSize {
	$size: $interactive-elem-size_large;

	padding-top: 3px;
	padding-bottom: 3px;
	min-width: $size;
	min-height: $size;

	&.root_hasContent {
		padding-right: 15px;
		padding-left: 15px;
	}

	&.root_hasIcon {
		padding-left: 7px;
	}

	&.root_hasIcon:not(.root_hasContent) {
		padding-right: 5px;
		padding-left: 5px;
	}

	.icon {
		width: 24px;
		height: 24px;
	}

	.content {
		font-size: 13px;
	}
}

.root_xlargeSize {
	$size: $interactive-elem-size_xlarge;

	padding-top: 3px;
	padding-bottom: 3px;
	min-width: $size;
	min-height: $size;

	&.root_hasContent {
		padding-right: 17px;
		padding-left: 17px;
	}

	&.root_hasIcon {
		padding-left: 9px;
	}

	&.root_hasIcon:not(.root_hasContent) {
		padding-right: 7px;
		padding-left: 7px;
	}

	.icon {
		width: 28px;
		height: 28px;
	}

	.content {
		font-size: 14px;
	}
}

// STYLE

.root_defaultLook {
	color: var(--primary-text-color);
	border-color: rgba(var(--shade-rgb-color), 0.18);

	&:hover,
	&:focus-visible {
		background: rgba(var(--shade-rgb-color), 0.05);
	}
}

.root_primaryLook {
	color: var(--on-accent-color);
	background: var(--accent-color);
	border-color: var(--accent-color);

	&:hover,
	&:focus-visible {
		background: var(--accent-hover-color);
		border-color: var(--accent-hover-color);
	}
}

.root_secondaryLook {
	color: var(--on-accent2-color);
	background: var(--accent2-color);
	border-color: var(--accent2-color);

	&:hover,
	&:focus-visible {
		background: var(--accent2-hover-color);
		border-color: var(--accent2-hover-color);
	}
}

.root_dangerousLook {
	color: var(--error-color);
	border-color: rgba(var(--error-rgb-color), 0.35);

	&:hover,
	&:focus-visible {
		background: rgba(var(--error-rgb-color), 0.1);
	}
}

.root_liteLook {
	color: var(--primary-text-color);
	border-color: transparent;

	&:hover,
	&:focus-visible {
		background: rgba(var(--shade-rgb-color), 0.05);
	}
}

.root_heavyLook {
	color: var(--on-inverted-surface-color);
	background: var(--inverted-surface-color);
	border-color: transparent;

	&:hover,
	&:focus-visible {
		opacity: 0.8;
	}
}
