.root {
	display: inline-grid;
	grid-auto-flow: column;
	grid-gap: 4px;
	align-items: center;
	min-width: 28px;
	height: 28px;
	font-size: 11px;
	text-transform: uppercase;
	white-space: nowrap;
	border: 1px solid;
	border-radius: 14px;

	> i {
		min-width: 20px;
		text-align: center;
	}

	> svg {
		width: 20px;
		height: 20px;
		fill: currentColor;
	}

	:global(.anticon) {
		padding: 3px;
		width: 20px;
		height: 20px;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
.root_hasContent {
	padding: 0 11px;
}
.root_hasIcon {
	padding-left: 7px;
}
.root_hasIcon:not(.root_hasContent) {
	padding: 0 3px;
}
.root_disabled {
	pointer-events: none;
	opacity: 0.5;
}

.content {
	padding: 1px 0 0;
}

// STYLES

.root_default {
	color: var(--primary-text-color);
	border-color: var(--lite-button-border-color);

	&:hover,
	&:focus-visible {
		background: var(--lite-button-hover-background-color);
	}
}

.root_primary {
	color: var(--on-accent2-color);
	background: var(--accent2-color);
	border-color: var(--accent2-color);

	&:hover,
	&:focus-visible {
		background: var(--accent2-hover-color);
		border-color: var(--accent2-hover-color);
	}
}

.root_dangerous {
	color: var(--error-color);
	border-color: var(--error-button-border-color);

	&:hover,
	&:focus-visible {
		background: var(--error-button-hover-background-color);
	}
}

.root_lite {
	color: var(--primary-text-color);
	border-color: transparent;

	&:hover,
	&:focus-visible {
		background: var(--surface-hover-color);
	}
}
