.root {
	display: grid;
	grid-gap: 32px;
	padding: 0 0 32px;

	@include lessThan640w {
		grid-gap: 20px;
	}
}

.banner {
	overflow: hidden;
	border-radius: 16px;
	cursor: pointer;

	img {
		display: block;
	}

	@include lessThan768w {
		margin: calc(-1 * var(--generic-layout_inner-spacing)) calc(-1 * var(--generic-layout_outer-padding)) 0;
		border-radius: 0;
	}
}

.heading {
	font-size: 24px;
	font-weight: $font-weight_medium;
	text-align: center;

	span {
		border-bottom: 2px solid var(--accent-color);
	}

	@include lessThan640w {
		font-size: 20px;
	}
}

.bigGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 32px;

	@include lessThan1440x900 {
		grid-gap: 20px;
	}

	@include lessThan640w {
		grid-template-columns: 1fr;
	}
}

.smallGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;

	@include lessThan768w {
		grid-template-columns: 1fr 1fr;
	}

	@include lessThan640w {
		grid-template-columns: 1fr;
		grid-gap: 12px;
	}
}

.tagTitle {
	display: flex;
	align-items: center;
	margin: 0 0 12px;

	svg {
		margin: 0 4px 0 0;
		width: 32px;
		height: 32px;
	}

	div {
		font-size: 24px;
		font-weight: $font-weight_semi-bold;

		span {
			color: var(--secondary-text-color);
			font-weight: $font-weight_light;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
