.root {
	display: block;
}

.loader {
	margin: 80px 0;
}

.messageButton {
	color: var(--accent2-color);

	&:hover {
		text-decoration: underline;
	}
}

.addressRow {
	padding: 0 20px 0 0;
}

.messageRow {
	display: flex;
	justify-content: end;
}
