.inner {
	position: relative;
	padding: 0 0 100%;
	border-radius: 50%;
	overflow: hidden;
}

.inner_community {
	border-radius: 16%;
}

.inner2 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.content {
	display: block;
	width: 100%;
	height: 100%;
}

.content_image {
	object-fit: cover;
}
