$hPadding: 20px;

.root {
	display: flex;
	flex-direction: column;
	width: 620px;
	height: 680px;
	max-width: 100%;
	max-height: 100%;
}

.header {
	padding: 16px $hPadding 12px;
	border-bottom: 1px solid var(--border-color);
}

.title {
	font-weight: bolder;
	text-transform: uppercase;
}

.description {
	margin: 8px 0 0;
	color: var(--secondary-text-color);
}

.list {
	flex: 1;
	position: relative;
	overflow-y: auto;
}

.row {
	display: grid;
	grid-template-columns: auto 10fr 8fr 5fr;
	grid-gap: 12px;
	align-items: center;
	padding: 0 20px;

	&:nth-child(2n) {
		background: var(--secondary-surface-color);
	}

	> div {
		@include truncate-text;
		display: flex;
	}

	@include less480px {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto auto;
		grid-row-gap: 4px;
	}
}

.row_header {
	height: 48px;
	font-weight: $font-weight_bold;

	@include less480px {
		padding: 8px 20px;
		height: auto;
	}
}

.row_data {
	height: 40px;

	@include less480px {
		padding: 8px 20px;
		height: auto;
	}
}

.sourceName {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	grid-gap: 4px;
}

.sourceNameText {
	@include truncate-text;
}

.sourceLink {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	grid-gap: 4px;
	color: var(--primary-text-color);
}

.noData {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: var(--secondary-text-color);
}

.error {
	margin: $hPadding;
}

.footer {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-between;
	grid-gap: 8px;
	padding: 16px $hPadding;
	border-top: 1px solid var(--border-color);
}

.footerLeft {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
}

.footerRight {
	margin: 0 0 0 auto;
}

@include less480px {
	.checkBoxCell {
		grid-row: 1/4;
	}
}
