$hPadding: 20px;

.root {
	display: flex;
	flex-direction: column;
	width: 620px;
	height: 680px;
	max-width: 100%;
	max-height: 100%;
}

.header {
	padding: 16px $hPadding 12px;
	border-bottom: 1px solid var(--border-color);
}

.title {
	font-weight: bolder;
	text-transform: uppercase;
}

.description {
	margin: 8px 0 0;
	color: var(--secondary-text-color);
}

.list {
	flex: 1;
	position: relative;
	overflow-y: auto;
}

.listGroup {
	position: relative;
}

.row {
	display: flex;
	align-items: center;

	&:nth-child(2n) {
		background: var(--secondary-surface-color);
	}

	> :not(:first-child) {
		margin: 0 0 0 12px;
	}
}

.row_category {
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 0 12px 0 20px;
	height: 40px;
	background: var(--tertiary-surface-color);
}

.userRelation {
	flex: 1.66 1;
	font-weight: $font-weight_bold;
}

.token {
	flex: 0.33 1;
	white-space: nowrap;
	font-weight: $font-weight_bold;

	@include less480px {
		display: none;
	}
}

.row_data {
	padding: 0 20px 0 36px;
	height: 40px;

	@include less480px {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-row-gap: 8px;
		padding-top: 8px;
		padding-bottom: 8px;
		height: auto;
	}
}

.sourceCheckBox {
	@include less480px {
		grid-row: 1/4;
	}
}

.sourceName {
	flex: 1 1;
	display: grid;
	grid-template-columns: 24px 1fr;
	align-items: center;
	grid-gap: 4px;
}

.sourceNameText {
	@include truncate-text;
}

.sourceOrigin {
	flex: 0.66 1;
}

.sourceOriginLink {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	grid-gap: 4px;
	color: var(--primary-text-color);
}

.sourceOriginText {
	@include truncate-text;
}

.sourceToken {
	@include truncate-text;
	flex: 0.33 1;
	font-weight: $font-weight_bold;
	text-align: center;

	@include less480px {
		text-align: left;
	}
}

.noData {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: var(--secondary-text-color);
}

.error {
	margin: $hPadding;
}

.footer {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-between;
	grid-gap: 8px;
	padding: 16px $hPadding;
	border-top: 1px solid var(--border-color);
}

.footerLeft {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
}

.footerRight {
	margin: 0 0 0 auto;
}
