.main {
	padding: 20px;
}

.title {
	margin: 0 0 20px;
	font-size: 24px;
}

.content {
	display: grid;
	grid-gap: 20px;

	p {
		margin: 0;
		font-size: 15px;
	}
}

.form {
	display: grid;
	grid-gap: 16px;
	padding: 16px;
}

.footer {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
	grid-gap: 8px;
	padding: 20px;
	border-top: 1px solid var(--border-color);
}
