.root {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.invisible {
	visibility: hidden;
}

.visible {
	position: absolute;
	top: 0;

	.root_textAlignLeft & {
		left: 0;
	}

	.root_textAlignRight & {
		right: 0;
	}
}
