.root {
	display: flex;
	flex-direction: column;
}

.meta {
	display: grid;
	grid-template-columns: 92px 1fr;
	grid-gap: 8px;
	align-items: center;
	padding: 16px;
	border-bottom: 1px solid var(--border-color);
}

.metaLabel {
	color: var(--secondary-text-color);
}

.recipientWrapper {
	@include flex-row-with-gap(4px);
}

.content {
	flex-grow: 1;
	padding: 20px 0 0;
	overflow-y: auto;
}

.footer {
	flex: 0 0 64px;
	display: flex;
	align-items: center;
	padding: 0 16px;
	border-top: 1px solid var(--border-color);
}

.attachment {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	grid-gap: 4px;
	padding: 8px 12px;
	width: 240px;
}
.attachmentName {
	@include truncate-text;
	font-weight: $font-weight_semi-bold;
}
.attachmentSize {
	@include truncate-text;
	font-size: 12px;
	color: var(--secondary-text-color);
}
.attachmentActions {
	grid-column: 2/3;
	grid-row: 1/3;
}

.sendButton {
	margin: 0 0 0 auto;
}
